@implements IDisposable

@inject NavigationManager NavigationManager

<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Planify</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill" aria-hidden="true"></span> Inicio
                    </NavLink>
                </li>

                <AuthorizeView Roles="Admin">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/Admin/Articulos">
                            <span class="bi bi-tag" aria-hidden="true"></span> Articulos
                        </NavLink>
                    </li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="/Admin/Clientes">
                            <span class="bi bi-person" aria-hidden="true"></span> Clientes
                        </NavLink>
                    </li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="/Admin/Eventos">
                            <span class="bi bi-list-nested" aria-hidden="true"></span> Eventos
                        </NavLink>
                    </li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="/Admin/Presupuestos">
                            <span class="bi-receipt-cutoff" aria-hidden="true"></span> Presupuestos
                        </NavLink>
                    </li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="/Admin/Pago">
                            <span class="bi bi-credit-card" aria-hidden="true"></span> Pagos
                        </NavLink>
                    </li>
                    
                </AuthorizeView>
                
                <AuthorizeView Roles="User">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/Cliente">
                        <span class="bi bi-person" aria-hidden="true"></span> Sobre ti
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="/Eventos">
                        <span class="bi bi-list-nested" aria-hidden="true"></span> Eventos
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="/Presupuestos">
                        <span class="bi-receipt-cutoff" aria-hidden="true"></span> Presupuestos
                    </NavLink>
                </li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="/Pagos">
                            <span class="bi bi-credit-card" aria-hidden="true"></span> Pagos
                        </NavLink>
                    </li>
                
                </AuthorizeView>
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="Account/Manage">
                                <span class="bi bi-person-fill" aria-hidden="true"></span> @context.User.Identity?.Name
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <form action="Account/Logout" method="post">
                                <AntiforgeryToken/>
                                <input type="hidden" name="ReturnUrl" value="@currentUrl"/>
                                <button type="submit" class="nav-link btn btn-link">
                                    <span class="bi bi-arrow-bar-left" aria-hidden="true"></span> Cerrar Sesión
                                </button>
                            </form>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="Account/Register">
                                <span class="bi bi-person" aria-hidden="true"></span> Registrate
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="Account/Login">
                                <span class="bi bi-person-badge" aria-hidden="true"></span> Inicia Sesión
                            </NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
