@page "/"
@rendermode InteractiveServer




<div class="hero">
    <div class="redondeado">
        <h1>Bienvenido a Planify!</h1>
        <p>Realizar los eventos de tus sueños nunca ha sido tan fácil</p>
    </div>
</div>


<div class="services">

    <div class="container">
        <div class="row">
            <div class="column-left">
                <div class="mission-title">Nuestra misión</div>
                <h2 class="heading">Hacer de tus momentos una experiencia sencilla</h2>
            </div>
            <div class="column-right">
                <h3 class="text-center">Planify</h3>
                <p class="description">
                    Planify es una plataforma web desarrollada en Blazor que simplifica la gestión de eventos. Permite a los usuarios planificar, organizar y coordinar eventos de manera eficiente,
                    todo desde una interfaz intuitiva y fácil de usar. Esta herramienta está diseñada para optimizar el proceso de gestión de eventos, mejorando la experiencia tanto para organizadores como para clientes.
                </p>
            </div>
        </div>
    </div>

    <h2>Como funciona?</h2>
    <div class="d-flex justify-content-center">
        <div class="event-card grow-on-hover">
            <h3>Sobre ti</h3>
            <p class="text-lg-start">Permítenos conocerte un poco, esta información nos ayudará a manejar tus eventos de la manera más rápida</p>
        </div>

        <div class="service-card grow-on-hover">
            <h3>Registra tu Evento</h3>
            <p class="text-lg-start">Cuéntanos sobre tu evento: ¿de qué trata?, ¿dónde será?, ¿qué tipo de experiencia deseas crear?
                Contamos con herramientas y opciones personalizadas para ayudarte a planificar cada detalle a tu manera.
            </p>
        </div>
        <div class="service-card grow-on-hover">
            <h3>Tu presupuesto</h3>
            <p class="text-lg-start">Pide todo lo que necesites para tu evento,
                ajusta cada detalle según tu presupuesto y obtén una cotización instantánea.</p>
        </div>
    </div>
</div>

<div class="events">
    <h2>Esto es lo que opinan algunos de nuestros clientes </h2>
    <div class="d-flex justify-content-center">

        <div class="event-card grow-on-hover">
            <div class="profile-container">
                <div class="profile-image juanFelix"></div>
                <h3>Juan Felix</h3>
            </div>
            <p class="text-lg-start">Antes realizar eventos era un dolor de cabeza, con Planify todo es más fácil</p>
        </div>

        <div class="event-card grow-on-hover">
            <div class="profile-container">
                <div class="profile-image angelAlmonte"></div>
                <h3>Angel Almonte</h3>
            </div>
            <p class="text-lg-start">
                Solía hacer todos los procesos manuales, era tedioso y lento. Este software ha
                impulsado mi eficiencia al organizar eventos para mis clientes.
            </p>
        </div>

        <div class="event-card grow-on-hover">
            <div class="profile-container">
                <div class="profile-image nathiel"></div>
                <h3>Nathiel Taveras</h3>
            </div>
            <p class="text-lg-start">Nunca entendí por qué tenía que hacer reuniones y citas para eventos sencillos en la era digital, con Planify en menos de 5 minutos
                ya tengo todo listo. </p>
        </div>

        
    </div>
</div>

<div class="contact">
    <h2>Contáctanos</h2>
    <p>¿Tienes alguna pregunta o quieres más información? ¡Estamos aquí para ayudarte!</p>
    <div class="contact-form">
        <input type="text" placeholder="Tu nombre" />
        <input type="email" placeholder="Tu correo electrónico" />
        <textarea rows="4" placeholder="Tu mensaje"></textarea>
        <button>Enviar</button>
    </div>
</div>

<div class="footer">
    <p>&copy; 2025 Planify. Todos los derechos reservados.</p>
</div>
