@page "/"
@rendermode InteractiveServer




<div class="hero">
    <h1>Bienvenido a Planify!</h1>
    <p>Realizar los eventos de tus sueños nunca ha sido tan fácil</p>
    <button class="btn-primary">Explorar Servicios</button>
</div>

<div class="services">
    <h2>Como funciona?</h2>
    <div class="d-flex justify-content-center">
        <div class="event-card grow-on-hover">
            <h3>Sobre ti</h3>
            <p class="text-lg-start">Permítenos conocerte un poco, esta información nos ayudará a manejar tus eventos de la manera más rápida</p>
        </div>

        <div class="service-card">
            <h3>Registra tu Evento</h3>
            <p class="text-lg-start">Hablanos sobre tu evento, de que trata? donde será</p>
        </div>
        <div class="service-card">
            <h3>Crea tu presupuesto</h3>
            <p class="text-lg-start">Pide todo lo que necesites para tu evento, desde servicios como fotografía hasta picaderas</p>
        </div>
    </div>
</div>

<div class="events">
    <h2>Esto es lo que opinan algunos de nuestros clientes </h2>
    <div class="d-flex justify-content-center">
        <div class="event-card">
            <h3>Esmailin Martinez</h3>
            <p class="text-lg-start">Antes realizar eventos era un dolor de cabeza, con Planify todo es más fácil</p>
        </div>
        <div class="event-card">
            <h3>Angel Almonte</h3>
            <p class="text-lg-start">Solía hacer todos los procesos manuales, era tedioso y lento,este software ha impulsado mi eficiencia 
                al organizar eventos para mis clientes</p>
        </div>
        <div class="event-card">
            <h3>Nathiel Taveras</h3>
            <p class="text-lg-start">Nunca entendí por qué tenía que hacer reuniones y citas para eventos sencillos en la era digital, con Planify en menos de 5 minutos
               ya tengo todo listo. </p>
        </div>
    </div>
</div>

<div class="contact">
    <h2>Contáctanos</h2>
    <p>¿Tienes alguna pregunta o quieres más información? ¡Estamos aquí para ayudarte!</p>
    <div class="contact-form">
        <input type="text" placeholder="Tu nombre" />
        <input type="email" placeholder="Tu correo electrónico" />
        <textarea rows="4" placeholder="Tu mensaje"></textarea>
        <button>Enviar</button>
    </div>
</div>

<div class="footer">
    <p>&copy; 2025 Planify. Todos los derechos reservados.</p>
</div>
