@page "/"
@rendermode InteractiveServer

<section class="hero">
    
        <div class="row gx-4 align-items-center justify-content-between">
            <div class="col-md-8">
                <h1 class="display-3 fw-bold text-start">Con <span class="text-naranja">Planify</span></h1>
                <h1 class="display-3 fw-bold  text-start">lo haces</h1>
                <h1 class="display-3 fw-bold text-start">fácil.</h1>
            </div>
            <div class="col-md-4 d-none d-md-block">
                <img src="https://res.cloudinary.com/drjm09rqf/image/upload/v1743973926/Planify_1_-2_ibyrgp.png" alt="Planify" class="img-fluid">
            </div>
        </div>
</section>

<div class="services">
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <h1 class="display-3 fw-bold">Cualquiera, Donde sea, puede utilizar <span class="text-naranja">Planify</span></h1>
                    <p class="lead my-4">Encuentra todo lo que necesitas para tu evento, todo en un solo lugar.</p>
                </div>
                <div class="col-lg-6"><img alt="" class="img-fluid" src="https://images.pexels.com/photos/461064/pexels-photo-461064.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"></div>
            </div>
        </div>
    </section>

    <section class="bg-light py-5">
        <div>
            <div class="row gx-4 align-items-center">
                <div class="col-md-6">
                    <div class="me-md-2 me-lg-5"><img class="img-fluid rounded-3" src="https://images.pexels.com/photos/8472792/pexels-photo-8472792.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"></div>
                </div>
                <div class="col-md-6">
                    <div class="ms-md-2 ms-lg-5 mt-5 mt-md-0">
                        <h1 class="display-3 fw-bold mb-0">Planify es</h1>
                        <h1 class="display-3 fw-bold text-naranja">Seguro. Rápido. Fácil.</h1>
                        <p class="lead">Qué esperas? empecemos hoy!</p><a class="btn btn-lg btn-primary" href="Account/Register">Registrate</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div>
            <div class="row justify-content-center text-center mb-4">
                <div class="col-lg-8 col-xxl-7">
                    <span class="text-muted">Pasos</span>
                    <h2 class="display-5 fw-bold">Cómo Funciona?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="text-center position-relative">
                        <div class="step-icon mx-auto bg-orange border rounded-circle d-flex align-items-center justify-content-center" style="width:120px;height:120px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-calendar4-week" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
                                <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                            </svg>  </div>
                        <h4 class="mt-3 fs-5">Paso 1</h4>
                        <p class="lead text-muted mt-4 fs-5 px-lg-3 mb-5 mb-lg-0">Registra tu evento</p>
                        <div class="arrow-icon position-absolute d-none d-lg-block" style="top:50px; right:-25px">
                            <svg class="bi bi-arrow-right" fill="currentColor" height="30" viewbox="0 0 16 16" width="30" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" fill-rule="evenodd"></path></svg>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-center position-relative">
                        <div class="step-icon mx-auto bg-orange border rounded-circle d-flex align-items-center justify-content-center" style="width: 120px;height: 120px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-calculator" viewBox="0 0 16 16">
                                <path d="M12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                <path d="M4 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                            </svg>  </div>
                        <h4 class="mt-3 fs-5">Paso 2</h4>
                        <p class="lead text-muted mt-4 fs-5 px-lg-3 mb-5 mb-lg-0">Crea un presupuesto</p>
                        <div class="arrow-icon d-none d-lg-block position-absolute" style="top:50px; right:-25px">
                            <svg class="bi bi-arrow-right" fill="currentColor" height="30" viewbox="0 0 16 16" width="30" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" fill-rule="evenodd"></path></svg>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-center position-relative">
                        <div class="step-icon bg-orange mx-auto border rounded-circle d-flex align-items-center justify-content-center" style="width: 120px;height: 120px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-credit-card-2-back-fill" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5H0zm11.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM0 11v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1z"/>
                            </svg> </div>
                        <h4 class="mt-3 fs-5">Paso 3</h4>
                        <p class="lead text-muted mt-4 fs-5 px-lg-3 mb-5 mb-lg-0">Realiza tu pago</p>
                        <div class="arrow-icon d-none d-lg-block position-absolute" style="top:50px; right:-25px">
                            <svg class="bi bi-arrow-right" fill="currentColor" height="30" viewbox="0 0 16 16" width="30" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" fill-rule="evenodd"></path></svg>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-center position-relative">
                        <div class="step-icon mx-auto bg-orange border rounded-circle d-flex align-items-center justify-content-center" style="width: 120px;height: 120px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-emoji-smile-fill" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8"/>
                            </svg>  </div>
                        <h4 class="mt-3 fs-5">Paso 4</h4>
                        <p class="lead text-muted mt-4 fs-5 px-lg-3 mb-5 mb-lg-0">Disfruta de tu evento!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center text-center mb-3">
            <div class="col-lg-8 col-xl-7">
                <span class="text-muted">Nuestro Software</span>
                <h2 class="display-5 fw-bold text-naranja">Planify</h2>
                <p class="lead">Ventajas que te ofrecemos</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-4 order-2 order-md-1">
                <div class="text-center">
                    <div class="text-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                        </svg>  </div>
                    <h5 class="fw-bold mt-3">Fácil de usar</h5>
                </div>
                <div class="my-5 text-center">
                    <div class="text-muted">
                        <svg class="bi bi-emoji-wink" fill="currentColor" height="48" viewbox="0 0 16 16" width="48" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                            <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm1.757-.437a.5.5 0 0 1 .68.194.934.934 0 0 0 .813.493c.339 0 .645-.19.813-.493a.5.5 0 1 1 .874.486A1.934 1.934 0 0 1 10.25 7.75c-.73 0-1.356-.412-1.687-1.007a.5.5 0 0 1 .194-.68z"></path></svg>
                    </div>
                    <h5 class="fw-bold mt-3">Sencillo</h5>
                </div>
                <div class="text-center">
                    <div class="text-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                        </svg> </div>
                    <h5 class="fw-bold mt-3">Eficiente</h5>
                </div>
            </div>
            <div class="col-md-4 order-1 order-md-2">
                <div class="mb-4 mb-md-0"><img alt="" class="img-fluid rounded mx-auto" src="https://cdn.prod.website-files.com/5c9e58f333acd61afcbae2da/64c00a6d77ab3251e46774f1_bmcargo-beneficios-4.png"></div>
            </div>
            <div class="col-md-4 order-3 order-md-3">
                <div class="text-center">
                    <div class="text-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
                        </svg>
                    </div>
                    <h5 class="fw-bold mt-3">Sin membresías</h5>
                </div>
                <div class="my-5 text-center">
                    <div class="text-muted">
                        <svg class="bi bi-speedometer2" fill="currentColor" height="48" viewbox="0 0 16 16" width="48" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"></path>
                            <path d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z" fill-rule="evenodd"></path></svg>
                    </div>
                    <h5 class="fw-bold mt-3">Rápido</h5>
                </div>
                <div class="text-center">
                    <div class="text-muted">
                        <svg class="bi bi-pencil-square" fill="currentColor" height="48" viewbox="0 0 16 16" width="48" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                            <path d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" fill-rule="evenodd"></path></svg>
                    </div>
                    <h5 class="fw-bold mt-3">100% hecho para ti</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials-section">
    <div class="testimonials-container">
        <div class="testimonials-header">
            <h2>Esto opinan nuestros clientes:</h2>
        </div>

        <div class="row">
            <div class="col-md-4 text-center">
                <div class="testimonial-card">
                    <div class="testimonial-icon">
                        <svg class="bi bi-quote" fill="currentColor" height="48" width="48" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Z"></path>
                        </svg>
                    </div>
                    <p class="testimonial-text">"Planify me ha facilitado muchísimo la organización de eventos. Su plataforma es tan fácil de usar que puedo gestionar todo, desde la creación de presupuestos hasta la coordinación de detalles, sin complicaciones.
                        ¡Una herramienta indispensable para cualquier organizador!"</p>
                </div>
                <div class="testimonial-user">
                    <div class="juanFelix"/>
                    <h5>Juan Felix</h5>
                    <div class="role">Organizador de Eventos</div>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="testimonial-card-orange">
                    <div class="testimonial-icon">
                        <svg class="bi bi-quote" fill="currentColor" height="48" width="48" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Z"></path>
                        </svg>
                    </div>
                    <p class="testimonial-text">"Usar Planify ha sido una experiencia increíble.
                        Su interfaz intuitiva me permitió organizar eventos en minutos, sin complicaciones. Es la herramienta perfecta para gestionar y coordinar sin estrés. 
                        ¡Totalmente recomendado!"</p>
                </div>
                <div class="testimonial-user">
                    <div class="angelAlmonte"></div>
                    <h5>Angel Almonte</h5>
                    <div class="role">Reconocido empresario macorisano</div>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="testimonial-card">
                    <div class="testimonial-icon">
                        <svg class="bi bi-quote" fill="currentColor" height="48" width="48" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Z"></path>
                        </svg>
                    </div>
                    <p class="testimonial-text">"Organizar eventos empresariales siempre ha sido un desafío,
                        Sin embargo, con Planify, nuestra forma de gestionar estos eventos ha cambiado por completo. La plataforma nos ha permitido encontrar y adquirir productos 
                        específicos de manera rápida y eficiente"</p>
                </div>
                <div class="testimonial-user">
                    <div class="nathiel align-items-center"></div>
                    <h5>Nathiel Taveras</h5>
                    <div class="role">Encargado de Recursos Humanos</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center text-center mb-2 mb-lg-4">
            <div class="col-lg-8 col-xxl-7">
                <span class="text-muted">Hablemos!</span>
                <h2 class="display-5 fw-bold mb-3">Contáctanos</h2>
                <p class="lead">Ingresa tus datos y nos pondremos en contácto contigo a la mayor brevedad posible.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-4">
                                <input class="form-control bg-light" placeholder="Tu nombre" type="text">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-4">
                                <input class="form-control bg-light" placeholder="Tu número de telefono" type="text">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="d-grid">
                                <button class="btn btn-primary" type="submit">Enviar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="footer">
    <p>&copy; 2025 Planify. Todos los derechos reservados. Este es un proyecto hecho por Erick Estrada Rosario, #2022-0494</p>
</div>
