.tabla-sin-lineas {
    width: 100%;
    border-collapse: collapse;
}

.tabla-sin-lineas th,
.tabla-sin-lineas td {
    padding: 8px;
    text-align: left;
}

.tabla-sin-lineas th {
    font-weight: bold;
}

.tabla-sin-lineas td:nth-child(3) {
    text-align: right;
}