@page "/Account/AccessDenied"
@inherits LayoutComponentBase

<head><link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<body>
<div class="message">No estás autorizado.
</div>
<div class="message2">Intentaste entrar a una página a la que no tienes autorización.</div>
<div class="container">
    <div class="espacio"/>
    <div class="neon text-center">403</div>
    <div class="espacio"/>
    <div class="door-frame">
        <div class="door">
            <div class="rectangle">
            </div>
            <div class="handle">
            </div>
            <div class="window">
                <div class="eye">
                </div>
                <div class="eye eye2">
                </div>
                <div class="leaf">
                </div>
            </div>
        </div>
    </div>
</div>
</body>