.tarjeta-container {
    width: 450px;
    background: #f3f3f3;
    padding: 12px 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.tarjeta-info {
    display: flex;
    align-items: center;
}

.tarjeta-logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.tarjeta-numero {
    font-size: 18px;
    color: #777;
    font-weight: 600;
}

.tarjeta-boton {
    border: none;
    background: none;
    color: #777;
    font-size: 14px;
    cursor: pointer;
}

.tarjeta-boton:hover {
    color: #d9534f;
}
